@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

body {
    font-family: 'Raleway', sans-serif;
}

.main__width {
    width: 1000px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/* header (logo+nav) */

header {
    width: 100%;
    background-color: #000;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-transform: uppercase;
    color: #fff;
}

.logo span {
    font-weight: 700;
    color: #2fd2b7;
}

.header__menu {
    display: flex;
    text-transform: uppercase;
}

.header__menu li a {
    display: block;
    color: #fff;
    padding: 20px;
    font-weight: 700;
}

/*zeby bylo na maxa do prawej w kontenerze */
.header__menu li:last-child a {
    padding-right: 0;
}
/*+ symetria z lewej*/
.header__menu li:first-child a {
    padding-left: 0;
}

/*zeby zaczepic dropdown ktore bedzie absolute w stosunku do tego*/
.header__menu li {
    position: relative;
}

/*dropdown menu*/
.header__menu--dropdown {
    display: none;
    position: absolute;
    left: -10px;
    top: 40px;
    padding-top: 30px;
    text-transform: capitalize;
}

.header__menu--dropdown li {
    color: white;
    background-color: #000;
    padding: 0 10px;
}

.header__menu--dropdown li a {
    font-weight: normal;
    padding: 10px;
}

/* arrow UP */
.header__menu--dropdown:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: 20px;
    left: 40px;
    z-index: 1;
}

/* display dropdown on hover */
.header__menu > li:hover .header__menu--dropdown {
    display: block;
}

/* SECTION SLIDER */

.section__slider {
    width: 100%;
    background-image: linear-gradient(white, lightgrey);
}

.section__slider > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* style buttons */
.section__slider--button a {
    color: #2fd2b7;
    font-size: 42px;
}

.section__slider__gallery li {
    display: flex;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 10px;
}

.section__slider__gallery li h2:not(span) {
    color: #000;
}

.section__slider__gallery a {
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid #2fd2b7;
    border-radius: 5px;
    background-color: #2fd2b7;
    color: white;
    padding: 10px 30px;
    margin-right: 50px;
}

.section__slider__gallery li > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.section__slider > div {
    margin-top: 50px;
}

.section__slider__gallery h2 {
    margin: 50px 50px 30px 0;
}

.section__slider__gallery p {
    margin-right: 50px;
    margin-bottom: 50px;
}